@model DisplayFoodsVM
@{
    ViewData["Title"] = Model.CategoryName;
    Layout = "~/Views/Shared/_DisplayLayout.cshtml";
}
<style>
    td{
        background-color:@Model.ButtonColor
    }
</style>

<div class="container-fluid" style="background:url(@(string.Format("data:image/png;base64,{0}",Model.BackgroundImage)))">
    <h1>@Model.CategoryName</h1>
    <h3>@Model.Description</h3>
    <table>
        @foreach (var item in Model.Foods)
        {
            <tr style="color:@Model.TextColor;">
                <td><img style="min-width: 100px; max-width: 300px; height: auto;" src="@(string.Format("data:image/png;base64,{0}", item.Image))" /></td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
            </tr>
        }

    </table>
</div>



