@model IList<MenuListVM>
@{
    ViewData["Title"] = "Index";
}

@if (Model.Count > 0)
{
    <div class="container m-2">
        <div class="col-xl-4 col-sm-12">
            @foreach (MenuListVM item in Model)
            {
                <div class="card" style="background-color:@item.ButtonColor;">
                    <h2 class="card-header " style="color:@item.TextColor;background-color:@item.ButtonColor;">
                        @item.Name
                    </h2>
                    <div class="card-body">
                        <div class="justify-content-between">
                            <a class="btn btn-primary" asp-controller="Category" asp-action="Index" asp-route-id="@item.Id">@SharedLocalizer["Categories"]</a>
                            <a class="btn btn-secondary disabled" asp-action="Update" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a>
                            <a class="btn btn-danger disabled" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('@(item.Name) | @SharedLocalizer["Confirm_Delete", SharedLocalizer["Menu"]]')"> @SharedLocalizer["Delete"] </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="justify-content-between">
            <h2>@SharedLocalizer["Empty_Table"]</h2>
            <a class="btn btn-outline-primary" asp-action="Create">@SharedLocalizer["Create"]</a>

        </div>
    </div>

}

