@model IList<FoodListVM>
@{
    ViewData["Title"] = "Index";
}



<div class="container m-2 ">
    <a class="btn btn-outline-info" asp-action="Create">@SharedLocalizer["Create", SharedLocalizer["Food"]]</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="4">@SharedLocalizer["List", SharedLocalizer["Food"]]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@SharedLocalizer["Image"]</td>
                <td>@SharedLocalizer["Food_Name"]</td>
                <td>@SharedLocalizer["Food_Description"]</td>
                <td>@SharedLocalizer["Transactions"]</td>
            </tr>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td><img style="min-width: 100px; max-width: 300px; height: auto;" src="@(string.Format("data:image/png;base64,{0}", item.Image))" /></td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn btn-secondary disabled" asp-action="Update" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('@(item.Name) | @SharedLocalizer["Confirm_Delete", SharedLocalizer["Food"]]')"> @SharedLocalizer["Delete"] </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">@SharedLocalizer["Empty_Table"]</td>
                </tr>
            }

        </tbody>
    </table>
</div>
